.main {
  flex: 1;
}

.bg-dark {
  background-color: $background-color;
  min-height: calc(100vh - 143px);
  padding: 1px 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  label {
    font-weight: bold;
  }
  input {
    padding: 5px;
    font-size: 1.2rem;
  }
}

.edit-button {
  border-color: $primary-color;
  background-color: $primary-color;
  color: $white-color;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: $white-color;
  margin-bottom: 2rem;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: $primary-color;
  background-color: $primary-color;
  color: $white-color;
  @media (min-width: 720px) {
    width: 200px;
  }
}
