$primary-color: #00bc77;
$secondary-color: #2c3e50;
$background-color: #12002b;
$white: #ffffff;
$black: #000000;
$white-color: #fff;
$dark-color: #222;
$light-color: #ccc;
$highlight-color: #42b983;
